<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="${root}highlight.css"/>
		<link rel="stylesheet" href="${root}stylesheet.css"/>
		<script>
window.MathJax = {
	options: {
		enableMenu: false,
		enableEnrichment: false
	}
};
		</script>
		<script src="${root}mathjax/es5/tex-mml-chtml.js"></script>
		<title>${title}</title>
	</head>
	<body>
		<header>
			<h1 id="cabinet">Cabinet file manager</h1>
			<div>
			<a class="button" id="back" href="${root}index.html">&larr; Back</a>
			<span id="path">${path}</span>
			<a class="button" id="pdf" href="${pdf}">&darr; PDF</a>
			</div>
		</header>
		<main>
		${content}
		</main>
	</body>
</html>
