body {
	background-color: black;
	color: white;
	font-family: "Noto Serif", serif;
	margin: 0;
}

header {
	background-color: #E89F17;
	color: black;
	padding: 1em;
	box-shadow: 0px 0px 5px 2px #222;
	z-index: 10;
	position: relative;
}

a {
	text-decoration: none;
	color: #3b7fdd;
}

#cabinet {
	margin: 0;
}

#cabinet-icon {
	position: relative;
	top: .1em;
	margin-right: .2em;
	display: inline-block;
	height: 1em;
}

.button {
	padding: .4em;
	border-radius: 3px;
	background-color: #fcfeff;
	color: #112a6f;
}

nav {
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	display: flex;
	background-color: #112a6f;
	padding: 1em;
}

#path {
	color: #fcfeff;
}

#cabinet {
	margin-top: 0;
}

main {
	margin: 2em;
	width: 60%;
	margin-left: 20%;
	text-align: justify;
	position: relative;
}

.highlight {
	background-color: #111;
	padding: .2em .5em;
	border-radius: 4px;
}

.highlighttable {
	width: 100%;
}

pre {
	overflow-x: auto;
}
